/* Hamburger button styles */
#hamburgerButton {
    display: none; /* Hide by default */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff; /* White color */
    padding: 10px;
}

@media (max-width: 640px) {
    /* Show hamburger button in mobile view */
    #hamburgerButton {
        display: block;
    }

    /* Show navigation menu in mobile view */
    nav ul.open {
        display: block;
    }
}
