* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
	color: #333; /* Dark gray text */
}

/* mobile **************************/
header {
	background-color: #00796b; /* Dark teal header */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: #00796b; /* White heading text */
}

nav {
	background-color: #36454f; /* Dark blue navigation background */
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff; /* White text */
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline; /* Change to underline on hover */
}

.active {
	color: yellow; /* Yellow text for active links */
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
